<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-Shop</title>
    <link rel="stylesheet" href="../Styles/style.css" />
    <link rel="stylesheet" href="../fontawsome_css/all.min.css" />
  </head>
  <body>
    <div class="header">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="/"> <img class="logo" src="/pictures/Drop.png" alt="logo" /></a>
      <div class="wrapper">
        <div class="search-box">
          <input type="text" class="input-search" placeholder="Търсене" />

          <button class="search-btn">
            <img src="/pictures/search-solid.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="shopping-cart">
        <a href="/cart" id="shopping-bag">
          <p>Количка</p>
          <img
            class="shopping-cart-logo"
            src="/pictures/shopping-cart-solid.svg"
            alt="shopping cart"
          />
          <div class="total-items-in-cart">0</div>
        </a>
      </div>

      <a class="registration-link" href="/register">Регистрация</a>
      <div class="login-btn">
       <a href="/login"><button>Вход</button></a>
        
      </div>
    </div>
    <!--   END HEADER -->

    <!-- Slide out nav!! -->
    <nav class="burger-nav">
      <ul>
        <li><a href="#">Начало</a></li>
        <li><a href="#">Продукти</a></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="#">За нас</a></li>
      </ul>
    </nav>
    <!-- End slide out nav -->



    <div class="main-section">
      <div class="side-bar">
        <h1>Категории</h1>
        <div class="side-options">
          <img src="/pictures/random-solid.svg" alt="" /><a href="">Опция 1</a>
        </div>
        <div class="side-options">
          <img src="/pictures/random-solid.svg" alt="" /><a href="">Опция 2</a>
        </div>
        <div class="side-options">
          <img src="/pictures/random-solid.svg" alt="" /><a href="">Опция 3</a>
        </div>
        <div class="side-options">
          <img src="/pictures/random-solid.svg" alt="" /><a href="">Опция 4</a>
        </div>
        <div class="side-options">
          <img src="/pictures/random-solid.svg" alt="" /><a href="">Опция 5</a>
        </div>
      </div>
      <!-- SLIDESHOW START -->

      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="/pictures/slideshow1.jpg" style="width: 100%" />
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="/pictures/slideshow2.jpg" style="width: 100%" />
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="/pictures/slideshow3.jpg" style="width: 100%" />
          <div class="text">Caption Three</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>

      <!-- SLIDESHOW END -->
    </div>

    <p class="most-selled-heading">Най - продавани</p>

    <div class="most-selled-container">
      <% if (product.length > 0) { %>
        <% product.forEach(product => { %>
      <div class="most-selled-item">
        <a href="./product.html?id=<%= product.id%>"><img src=<%= product.image_src %> alt="" /></a>
        
        <p class="product-name"><%= product.name %></p>
        <p class="product-discription"><%= product.description %></p>
        <div class="product-prices-and-discount">
          <strong><%= product.price %></strong>
          <img src="/pictures/heart-regular.svg" alt="" />
          <!-- <button onClick="addToCart(<%= product.id %>)"> Add to cart </button> -->
        </div>
       
        
      </div>
      <% }) %>

      <% } %>
      

      <!-- INJECT THE PRODUCTS HERE! -->

      <!-- <div class="most-selled-item">
        <a href="/product1.html">
          <img
            class="shop-item-image"
            src="/pictures/products/0_1356070.jpg"
            alt=""
        /></a>
        <p class="shop-item-title">Име на продукт</p>
        <p class="product-discription">Кратко описание на продукта</p>
        <div class="product-prices-and-discount">
          <strong class="shop-item-price">65,50</strong>
          <div
            class="fav-no"
            onclick="save()"
            id="like-button"
            style="width: 30px"
          >
            <img
              class="red-heart-img"
              src="../icons/Heart-SG2001-transparent.png"
              alt=""
            />
          </div>
        </div>
      </div>  -->
    </div>
    <!-- End most-saled-container -->

    <!-- Special products -->
    <div class="special-products">
      <div class="first-product">
        <img src="/pictures/products/specia-product.jpg" alt="" />
      </div>
      <div><img src="/pictures/products/special-product-1.jpg" alt="" /></div>
      <h1>Топ намаления!</h1>
      <div><img src="/pictures/products/special-product-2.jpg" alt="" /></div>
      <div><img src="/pictures/products/special-product-3.jpg" alt="" /></div>
    </div>

    <p class="promotions-heading">Промоции</p>

    <div class="promotions-container">
      <!-- INJECT PROMOTIONS ITEMS HERE!! -->

      <!-- <div class="promotions-item">
        <img src="/pictures/products/CS_ClassicWhite_06_2048x2048.jpg" alt="" />
        <p class="product-name">Име на продукт</p>
        <p class="product-discription">Кратко описание на продукта</p>
        <div class="product-prices-and-discount">
          <strong>65,50</strong>
          <p>25,50</p>
          <img src="/pictures/heart-regular.svg" alt="" />
        </div>
      </div>  -->
    </div>

    <div class="subscribe">
      <img class="subscribe-logo" src="/pictures/Drop_White.png" alt="" />
      <p>Абонирайте се за нашите специални оферти</p>
      <form
        class="send-email"
        action="https://formsubmit.co/eminem_3@abv.bg"
        method="POST"
      >
        <input
          type="email"
          name="email"
          class="subscribe-input"
          placeholder="Твоят E-mail"
        />
        <input
          type="hidden"
          name="_next"
          value="http://127.0.0.1:5501/Pages/thankYouForSub.html"
        />
        <input type="hidden" name="_captcha" value="false" />
        <button class="subs-btn"><i class="far fa-envelope"></i></button>
      </form>
    </div>

        <!-- Shopping cart -->

    
        <div class="shopping-cart-slide" id="shopping-cart-slide">
          <div class="cart-header">
            <div class="column1">Продукт:</div>
            <div class="column2">Цена за продукт:</div>
            <div class="column3">Брой:</div>
          </div>
          <div class="cart-items">
            <!-- render cart items here -->
          </div>
          <div class="cart-footer">
            <div class="subtotal">Общо (0 продукта): $0</div>
            <div class="checkout">Напред към плащане</div>
          </div>
        </div>

    <div class="footer">
      <div class="inforamtion">
        <h3>ИНФОРМАЦИЯ</h3>
        <ul class="sidebar-items">
          <li><a href="">За нас</a></li>
          <li><a href="">Контакти</a></li>
          <li><a href="">Магазини</a></li>
          <li><a href="">Общи условия</a></li>
          <li><a href="">Поверителност и лични данни</a></li>
          <li><a href="">Мнения</a></li>
        </ul>
      </div>
      <div class="menu">
        <h3>МЕНЮ</h3>
        <ul class="menu-footer">
          <li><a href="">Нови продукти</a></li>
          <li><a href="">Промоции</a></li>
          <li><a href="">Категория 1</a></li>
          <li><a href="">Категория 2</a></li>
        </ul>
      </div>
      <div class="social-networks">
        <h3>СОЦИАЛНИ МРЕЖИ</h3>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
      <div class="contacts">
        <h3>КОНТАКТИ</h3>
        <p>Tel: +359 87 777 8888</p>
        <p>E-mail: example@ex.com</p>
        <p>Адрес: ул. Цар Борис 3</p>
        <p>
          Copyright © 2021
          <img class="footer-logo" src="/pictures/Drop_White.png" alt="" />
        </p>
      </div>
    </div>
    <script src="../Scripts/script.js"></script>
  </body>
</html>
